table,tr,td{
    background-color: rgb(255, 255, 255) ;
    font-family: century gothic;
    color: rgb(0, 0, 0);
    /*border: 1px solid aqua;*/
    padding: 5px;
    border-collapse: collapse;
}
.posisi{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
}
body{
    background-image: url('530401.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}